.head{
    display: flex;
    justify-content: center;
    background-color: lightblue;
    font-size: x-large;
    color: black;
}

.search{
    width: 20%;
}

#city{
    padding: 10px;
    font-size: larger;
    border-radius: 8px;
}

.searchButton{
    padding: 15px;
    font-size: larger;
    border-radius: 8px;
    margin: 5px;
    width: 200px;
}

label {
    font-size: x-large;
}

#today{
    font-size: 45px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid black;
    width: fit-content;
    padding: 10px;
}
